<hr>
<div class="call-to-action">
  <p>
    If you have any comments or corrections for this post, feel free to <a href="https://github.com/DanDobrick/blog"
      target="_blank" ref="nofollow noopener">make a PR</a> or
    <a href="{{site.data.social_links.contact_form.url}}" target="_blank" ref="nofollow noopener">contact
      me.</a><br />
    Additionally, if you found this post useful consider <a href="{{ site.data.social_links.kofi.url }}"
      target="_blank" ref="nofollow noopener">buying me a beer!</a>
  </p>
</div>