<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
  <div>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        Previous
      </a>
      {% else %}
        <span>Previous</span>
    {% endif %}
    | <span class="page_number ">      Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> |
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
    {% else %}
      <span>Next</span>
    {% endif %}
  </div>
{% endif %}
