$dark-blue: #6f99c4;
$comment-color: #8c9b81;
$off-white: #F1F2F3;
$text-color: $off-white;

.highlight {
    color: $text-color; /*Text*/

    pre.highlight,
    pre { background-color: #272822; }
    .hll { background-color: #22282A }
    .c { color: $comment-color } /* Comment */
    .err { color: #960050; background-color: #1e0010 } /* Error */
    .k { color: #93C763 } /* Keyword */
    .l { color: #ae81ff } /* Literal */
    .n { color: $off-white } /* Name */
    .o { color: #E8E2B7 } /* Operator */
    .p { color: $off-white } /* Punctuation */
    .ch { color: $comment-color } /* Comment.Hashbang */
    .cm { color: $comment-color } /* Comment.Multiline */
    .cp { color: $comment-color } /* Comment.Preproc */
    .cpf { color: $comment-color } /* Comment.PreprocFile */
    .c1 { color: $comment-color } /* Comment.Single */
    .cs { color: $comment-color } /* Comment.Special */
    .gd { color: #E8E2B7 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .gi { color: $dark-blue } /* Generic.Inserted */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: $comment-color } /* Generic.Subheading */
    .kc { color: #93C763 } /* Keyword.Constant */
    .kd { color: #93C763 } /* Keyword.Declaration */
    .kn { color: #E8E2B7 } /* Keyword.Namespace */
    .kp { color: #93C763 } /* Keyword.Pseudo */
    .kr { color: #93C763 } /* Keyword.Reserved */
    .kt { color: #83D8E1 } /* Keyword.Type */
    .ld { color: #EC7600 } /* Literal.Date */
    .m { color: #FFCD22 } /* Literal.Number */
    .s { color: #EC7600 } /* Literal.String */
    .na { color: #6f99c4 } /* Name.Attribute */
    .nb { color: $off-white } /* Name.Builtin */
    .nc { color: $dark-blue } /* Name.Class */
    .no { color: #93C763 } /* Name.Constant */
    .nd { color: $dark-blue } /* Name.Decorator */
    .ni { color: $off-white } /* Name.Entity */
    .ne { color: $dark-blue } /* Name.Exception */
    .nf { color: $dark-blue } /* Name.Function */
    .nl { color: $off-white } /* Name.Label */
    .nn { color: $off-white } /* Name.Namespace */
    .nx { color: $dark-blue } /* Name.Other */
    .py { color: $off-white } /* Name.Property */
    .nt { color: #E8E2B7 } /* Name.Tag */
    .nv { color: $off-white } /* Name.Variable */
    .ow { color: #E8E2B7 } /* Operator.Word */
    .w { color: $off-white } /* Text.Whitespace */
    .mb { color: #FFCD22 } /* Literal.Number.Bin */
    .mf { color: #FFCD22 } /* Literal.Number.Float */
    .mh { color: #FFCD22 } /* Literal.Number.Hex */
    .mi { color: #FFCD22 } /* Literal.Number.Integer */
    .mo { color: #FFCD22 } /* Literal.Number.Oct */
    .sb { color: #EC7600 } /* Literal.String.Backtick */
    .sc { color: #EC7600 } /* Literal.String.Char */
    .sd { color: #EC7600 } /* Literal.String.Doc */
    .s2 { color: #EC7600 } /* Literal.String.Double */
    .se { color: #ae81ff } /* Literal.String.Escape */
    .sh { color: #EC7600 } /* Literal.String.Heredoc */
    .si { color: #EC7600 } /* Literal.String.Interpol */
    .sx { color: #EC7600 } /* Literal.String.Other */
    .sr { color: #EC7600 } /* Literal.String.Regex */
    .s1 { color: #EC7600 } /* Literal.String.Single */
    .ss { color: #EC7600 } /* Literal.String.Symbol */
    .bp { color: $off-white } /* Name.Builtin.Pseudo */
    .vc { color: $off-white } /* Name.Variable.Class */
    .vg { color: $off-white } /* Name.Variable.Global */
    .vi { color: $off-white } /* Name.Variable.Instance */
    .il { color: #FFCD22 } /* Literal.Number.Integer.Long */
}